*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    border: none;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    padding: 10px;
    border-radius: 10px;
    background: #F4F6F0;
    border: 2px solid #485550;
    display: flex;
    height: calc(100% - 10rem);
    /* height: 10rem; */
}  

.left-column {
    display: flex;
    flex-direction: column;
}

.left-column h4 {
    color: #84c00e;
    margin-bottom: 1rem;
    font-size: 18px;
}

.left-column p{
    color: #777d71;
    font-size: 16px;
    font-weight: 700;
}

.right-column {
    display: flex;
    flex-direction: row;
    align-items: center;
}

