.card-info {
    border-radius: 15px !important;
    margin-bottom: 10px;
    border: 2px solid #D4D4D4;
}

.subTitleAddress {
    font-family: 'Public Sans';
}

.title {
    font-size: 18px;
    font-family: 'Public Sans';
    font-weight: bold;
    color: #2d2a26;
    text-transform: uppercase;
}

.subTitle-Address {
    font-size: 14px;
    font-weight: 400;
    color: #666;
}

.info {
    flex-direction: row;
    display: flex;
    background: #F3F4F6;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom: 2px dashed #BCBCBC;
    margin-bottom: 10px;
    padding: 6px
}

.info span{
    font-size: 14px;
    font-weight: bold;
    color: #2d2a26;
    margin-right: 15px;
}

.info-content p {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #2d2a26;
}

.info-data-devolucao {
    font-size: 14px;
    font-weight: bold;
    color: #2d2a26;
}

.status p {
    font-size: 14px;
    font-weight: 400;
    color: #666;
}

.status-pendente {
    font-size: 18px;
    font-weight: 600;
    color: #FF6700;
}

.status-cancelado {
    font-size: 18px;
    font-weight: 600;
    color: #e71a3b;
}

.status-entregue {
    font-size: 18px;
    font-weight: 600;
    color: #1c7e2e;
}

.status-devolvido {
    font-size: 18px;
    font-weight: 600;
    color: #0033c6;   
}

.btn-arrow {
    background: #00AB55;
    color: #06e877;
    border-radius: 5px;
}

.containerTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.animation {
    animation: pulse 4s infinite;
    background: #f500560d !important; 
    /* background: #FBEAEC  !important; */
    border: 2px solid #dc3545 !important;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    70% {
        transform: scale(0.98);
    }
    100% {
        transform: scale(1);
    }
}