.card-info {
    border-radius: 15px !important;
    margin-bottom: 10px;
    border: 2px solid #D4D4D4;
}

.animation {
    background: #f500560d !important; 
    border: 2px solid #dc3545 !important;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(240, 2, 2, 0.4);
        box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.4);
    }

    70% {
        -moz-box-shadow: 0 0 0 8px rgba(255, 0, 0, 0);
        box-shadow: 0 0 0 8px rgba(255, 0, 0, 0);
    }

    100% {
        -moz-box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
        box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
    }
}

.subTitleAddress {
    font-family: 'Public Sans';
}

.title {
    font-size: 18px;
    font-family: 'Public Sans';
    font-weight: bold;
    color: #2d2a26;
    text-transform: uppercase;
}

.subTitle-Address {
    font-size: 14px;
    font-weight: 400;
    color: #666;
}

.info-data-devolucao {
    font-size: 14px;
    font-weight: bold;
    color: #2d2a26;
}

/* #region Info Default */
.info-default {
    flex-direction: row;
    display: flex;
    background: #F3F4F6;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom: 2px dashed #BCBCBC;
    margin-bottom: 10px;
    padding: 6px;
}

.info-default span {
    font-size: 14px;
    font-weight: bold;
    color: #2d2a26;
    margin-right: 15px;
}

.titulo-default {
    font-size: 18px;
    font-weight: bold;
    color: #2d2a26;
}
/* #endregion */

/* #region Info Atrasado */
.info-atrasado {
    flex-direction: row;
    display: flex;
    background: #fd595914;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom: 2px dashed #FE3030;
    margin-bottom: 10px;
    padding: 6px;
}

.info-atrasado span {
    font-size: 14px;
    font-weight: bold;
    color: #FE3030;
    margin-right: 15px;
}

.titulo-atrasado {
    font-size: 18px;
    font-weight: bold;
    color: #6a1100;
}
/* #endregion */

.status p {
    font-size: 14px;
    font-weight: 400;
    color: #666;
}

.status-pendente {
    font-size: 18px;
    font-weight: 600;
    color: #FF6700;
}

.status-cancelado {
    font-size: 18px;
    font-weight: 600;
    color: #e71a3b;
}

.status-entregue {
    font-size: 18px;
    font-weight: 600;
    color: #1c7e2e;
}

.status-devolvido {
    font-size: 18px;
    font-weight: 600;
    color: #0033c6;
}

.btn-arrow {
    background: #00AB55;
    color: #06e877;
    border-radius: 5px;
}

.containerTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}